@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Please Login";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome to the Search Page!</h1>
            <h2>Search for your dreams.</h2>
        </hgroup>
        <h3>
            You can search by file name or by uploader, the choice is yours. Or both, you can do both.</br>
            -Will</br>
            <font color = blue>(Real Talk 53: Humans spend 34% of their lifespan searching for something.)</font>
       </h3>
    </div>
</section>
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <h1>*You must <a href="~/Account/Login.cshtml">login</a> to use the search function.</h1>
        
    </body>
</html>