@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Please Login";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome to the Download Page!</h1>
            <h2>Download Away.</h2>
        </hgroup>
        <h3>
            All files uploaded to the site are available here for download. Download responsibly.</br>
            -Will</br>
            <font color = blue>(Real Talk 09: A sheep is capable of killing a human in 3.8 seconds.)</font>
       </h3>
    </div>
</section>
}





<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <h1>*You must <a href="~/Account/Login.cshtml">login</a> to download files.</h1>
        
    </body>
</html>
