@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "MessageFailed";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>There has been an error!</h1>
            
            
        </hgroup>
        <h3>
            If you are seeing this, something went wrong with your request.</br>
            -Will</br>
            <font color = blue>(Real Talk 31: The Brazilian gold frog is capable of flight during the dusk hours. )</font>
       </h3>
    </div>
</section>
}





<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <h1>"Sorry, your email could not be sent. Please try again at a later time."</h1>
        
    </body>
</html>


