@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "MessageSent";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Your feedback is appreciated!</h1>
            
        </hgroup>
        <h3>
            Expect a response to your inquiry within 48 hours.</br>
            -Will</br>
            <font color = blue>(Real Talk 30: Positive individuals are known for having a life span of 485 years!)</font>
       </h3>
    </div>
</section>
}





<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <h1>"Thank you, your email has been sent!"</h1>
        
    </body>
</html>


