@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome to the About Page!</h1>
            <h2>Where you can learn about Green Leaf.</h2>
        </hgroup>
        <h3>
            "If you have knowledge, let others light their candles in it."</br>
            -Margaret Fuller</br>
            <font color = blue>(Real Talk 46: Some humans are able to request information from the great conscious.)</font>
       </h3>
    </div>
</section>
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2>Green Leaf</h2>
</hgroup>

<article>
    <p>
       <h3>"Green Leaf" is a student project site created for SE II and</br>
        for the sake on gaining knowledge on new things.</br>
        The goal of the site is to provide a means for users to upload</br>
        their documents and retrieve them at a later time.</h3>
    </p>

</article>

<aside>
    <h3>Social Media</h3>
    <p>
        If you want to tell your friends about <font color = "green">Green Leaf:</font> 
    </p>
    <ul>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://facebook.com/">Facebook</a></li>
   </ul>
</aside>