@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Upload";
/*##########################Secure page from non-members#####################*/    
    if (!WebSecurity.IsAuthenticated) { //Allows for secure pages
        Response.Redirect("~/Security/SecurityUploadPage?returnUrl="
            + Request.Url.LocalPath);
    }

}




@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome to the Upload Page!</h1>
            <h2>Upload.Everything.All the time.Forever.</h2>
        </hgroup>
        <h3>
            Obey the upload <mark>rules</mark> and upload away. Upload responsibly.</br>
            -Will</br>
            <font color = blue>(Real Talk 15: Superman always lets Batman win because they are friends.)</font>
       </h3>
    </div>
</section>
}

@using Microsoft.Web.Helpers; <!--Calls Fileupload helper-->

@{ 
    int id = 0;
    var fileName = "";
    var fileMime = "";<!--Describes file type-->
    var userName = "";
    
   if (IsPost) {
        var uploadedFile = Request.Files[0];
        DateTime fileDate = DateTime.Now; // Adds date
        userName = WebSecurity.CurrentUserName; // Adds username of uploader
        fileName = Path.GetFileName(uploadedFile.FileName);
        if(fileName != String.Empty)
        {
            fileMime = uploadedFile.ContentType;
            var fileStream = uploadedFile.InputStream;
            var fileLength = uploadedFile.ContentLength;
            
            byte[] fileContent = new byte[fileLength];
            fileStream.Read(fileContent, 0, fileLength);
            var db = Database.Open("ProjectDatabase");
            var sql = "INSERT INTO FileInformation (FileName, FileContent, MimeType, FileDate, UserName) VALUES (@0,@1,@2,@3,@4)";
            db.Execute(sql, fileName, fileContent, fileMime, fileDate, userName);
            id = (int)db.GetLastInsertId();
        }
    }
}
<!DOCTYPE html>
<html>
    <head>
    <title>File Upload:</title>
    </head>
    <body>
    <h1>File Upload:</h1>
    
    @FileUpload.GetHtml(
        initialNumberOfFiles:1, 
        allowMoreFilesToBeAdded:false,
        includeFormTag:true,
        uploadText:"Upload")
    
    @if (IsPost && fileName != String.Empty) {
        <h2><font color ="green">File Has Been Successfully Uploaded!</font></h2><br/>
       if(fileMime.StartsWith("image")){
        <img src="Download.cshtml?Id= @id" alt="x" />
    }
    else {
        <a href="Download.cshtml?Id= @id">Preview</a>
    }
}
    </body>
</html>